#content {
    width: 80%;
    float: right;
    margin-left: 20%;
    position: absolute;
    height: 100%;
    background: #ffffff;

    -webkit-box-shadow: -5px 0px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 0px 11px -2px rgba(0,0,0,0.75);
    box-shadow: -5px 0px 11px -2px rgba(0,0,0,0.75);

}
