/** INSERIRE reset.css **/
body, html {
    font-family: "Roboto Lt","Verdana","Arial",sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    background-color: #E8EAF6;
}

.container-fluid{
    width: 100%;
    margin:0;
    padding: 0;
    font-size:1.2em;
}

#header img{
    width: 100%;
}

#menu{
    width: 20%;
    float:left;
    width: 200px;

    height: 100%;
}

#menu ul{
    list-style-type:none;
}
#menu li{
    padding: 1em 1em;
}


#content{
    max-width: 1024px;
    margin:auto;

}