/********************
RESET CSS
*********************/
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, input, button,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

abbr {
    speak: spell-out;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html,body {
    background-color:#1C1C1C;
    padding: 0;
    margin: 0;
    clear: both;
    font-family: 'Roboto',serif;
    height: 100%;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
}

div, form {
    margin: 0;
    padding: 0;
}

a, a.button, button, .inline-btn, .primary-btn, input[type=submit], input[type=reset] {
    cursor: pointer;
}

p,ul {
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
 color: #16BFFF;
}

a:visited{
    color: #008BC6;
}

/**********************
STILE DEGLI INPUT
**********************/
input[type=text], input[type=password], input[type=number] {
    width: 100%;
    height: 25pt;
    background-color: transparent;

    border: 0;
    border-bottom: 2px solid silver;

    outline: none; /* Rimuove il bordino azzurrino che il browser mette di default quando l'input è focused */
}

input:not([type=submit]):not([type=button]):focus {
    border-bottom: 2px solid #302A85;
}

.button-holder{
    margin-top:2em;
    padding-bottom:1em;
    text-align: center;
}

.column .button-holder{
    margin-top: 0;
}

/*************************
* INIZIO STILE BOTTONI   *
*************************/

.btn {
    outline: none;
    margin: 0;
    cursor: pointer;
    line-height: 100%;
    text-decoration: none;
    font-weight: bolder;
    padding: 0.8em 1em;
    color: black;
    background: white;
    border:0.2em solid transparent;
    border-bottom: 0.2em solid #808080;

    text-transform: uppercase;
}

.btn:hover {
    background: #808080;
}
.btn:focus {
    background: #808080;
}

.btn:active {
    border: 0.2em solid rgba(255,255,255,.3);
}

.btn.btn-primary {
    color: white;
    background-color: #0067c8;

    border-bottom-color: #0000c6;
}

.btn.btn-primary:focus {
    background-color: #0000c6;
}

.btn.btn-primary:hover {
    background-color: #0000c6;
}

.btn.btn-primary:active {
    border: 0.2em solid rgba(255,255,255,.3)
}

.btn.btn-inline {
    display: inline;
}

.btn.btn-block {
    display: block;
}

div.attivita span.btn.btn-primary,
div.attivita span.btn.btn-primary:hover,
div.attivita span.btn.btn-primary:active {
    display: block;
    cursor: default;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid red;
}

.btn-cancella {
    margin: auto;
    display: block;
    font-weight: 600;
    font-size: 1.2em;
    background-color: transparent;
    color:#B80000;
    border-bottom: 2px solid transparent;
}

.btn-cancella:hover {
    border-bottom-color:#B80000;
}

.btn-red {
    background-color: #B80000;
    border-color: #770101;
    color: white;
    padding: 0.4em 0.5em;
}

.btn.btn-red:hover {
    background-color: #770101;
}

.btn.btn-red:focus {
    background-color: #770101;
}

.elimina-attivita {
    float: right;
}

/*** VISUALIZZAZIONE DEGLI ERRORI NEL FORM ******/
/*div.error > span{
    display: block;
    width: 100%;
    padding: 0.3em;
    color: red;
}*/
.alert.errore {
    color:white;
    text-align: left;
    font-weight: bold;
}

input.error {
    border-bottom-color: red;
}


/******************
MENU
*******************/
#menu-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.5em;
    background: #F3F3F3;
}

#menu ul {
    list-style-type: none;
    margin-top: 0.6em;
}

#menu ul li {
    display: inline;
    padding-right: 1em;
}

#menu ul li.active {
    color: #0067c8;
}


#menu ul li a {
    color: black;
}


#menu a.button{
    border: 2px solid #1C1C1C;

}
#menu .button  {
    float: right;
    font-style: normal;
    margin-left: 1em;
    margin-top: -0.3em;
    color: #0067c8;
    padding: 0.4em;
}


#menu a.button:hover,
#menu a.button:visited:hover{
    color: white;
    background-color:#0000c6;
}

#menu .button:visited,
#menu .button:active {
    color: #1C1C1C;
}

#menu .button, #menu ul li {
    font-size: 0.8em;
}

#salta-intestazione {
    position: absolute;
    top: -60em;
}

#header {
    margin-top: 2.5em;
    background: white;
}
#header div.length-wrapper > img {
    padding: 1em;
    max-height: 4em;
    vertical-align: middle;
}

#contatti-header {
    margin-top: 1.8em;
    float:right;
}

#contatti-header span {
    display: block;
    font-size: 1em;
    text-align: right;
}

#contatti-header img {
    vertical-align: middle;
    max-width: 1em;
    padding-bottom: 4px;
}

.hamburger {
    display: none;
}

#menu-mobile{
    display: none;
}

/**********************
CORPO
***********************/
#content {
    /* position: relative;*/
    width: 100%;
    color:white;
    text-align: justify;
}
.length-wrapper{
    max-width: 1024px;
    margin: auto;
    padding-left:1.2em;
    padding-right: 1.2em;
}
#content img.banner {
    width: 100%;
}

div.even , div.odd{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.even{
    background-color: #3b3b3b;
    color: white;
}

.odd {
    background-color: #1C1C1C;
    color: white;
}

.column{
    width: 33.33%;
    float: left;
}
.column .wrapper p{
    color: #1C1C1C;
    height: 7em;
    padding: 0 1.3em 1.3em 1.3em;

}

.column .title-wrapper img{
    width:100%;
}

.title-wrapper h1{
    left: 0;
    right: 0;
    bottom: 0.1em;
    margin: 0;
    color: #F3F3F3;
    text-align: center;
    font-weight: 500;
    background: rgba(59, 59, 59, 0.6); /* browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c3b3b3b', endColorstr='#4c3b3b3b'); /* IE */
}

.img-wrapper{
    max-height: 17em;
    overflow: hidden;
}

#content .odd > .length-wrapper, #content .even > .length-wrapper{
    padding-bottom: 2em;
}

.wrapper{
    background: white;
    margin: 0.2em;
}

.wrapper img{
    max-width: 100%;
}

.clearfix{
    clear:both;
}

.responsive-banner{
    display: none;
}
.macroattivita {
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.macroattivita .banner {
    width: 100%;
    margin:0;
    padding:0;
}

.attivita {
    border-left: 0.3em solid #008BC6;
    padding-left: 1em;
    margin-bottom: 0.8em;
}

.attivita > h2 {
    margin-top: 0;
}


/*******************
PAGINA CONTATTACI
********************/
#google_maps{
    position: relative;

    overflow: hidden;
    padding-bottom: 10%;
    height:15em;
}

#google_maps> iframe{
    top: 0;
    left: 0;
    width: 100%;
    height: 100% ;
}

/*************
PAGINA INDEX
**************/
.box_SP{
    margin: 4em 4em 4em 0;
}

.icon_SP{
    width: 8em;
    float: left;
    padding-right: 1em;
}

/****************
PAGINA ATTIVITA
*****************/
.gestione.btn-testo {
    font-size: 1em;
    padding-left: 0;
}

div.macroattivita.odd,
div.macroattivita.even {
    color: #F3F3F3;
}

span.price-tag{
    float:none;
    display: block;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    margin-top: 1em;
}

span.primary-btn.inline-btn{
    text-align: left;
}
#dialog-content {
    text-align: left;
}

#dialog-content div.field-container {
    margin-bottom: 1em;
}

.form-prenotazione-container {
    text-align: left;
    padding-bottom: 1em;
}

.form-prenotazione-container input:not([type=submit]):not([type=button]),
.form-prenotazione-container input:not([type=submit]):not([type=button]) {
    background-color: transparent;
    color: white;
}

.form-prenotazione-container div.field-container {
    padding-top: 1em;
}
.attivita .btn.chiudi-form-prenotazione{
    display: none;
}
div.alert {
    padding: 0.5em 1em;
    display: none;
    margin-bottom: 1em;
}

div.alert.errore {
    background: #ac1911;
}

div.alert.errore p{
    color: white;
    font-weight: bold;
}

div.alert.successo {
    background: #4CAF50;
    color: white;
}

/**********************************
* PAGINA DI CONFERMA PRENOTAZIONE
***********************************/

ul.conferma-prenotazione {
    list-style-type: none;
    padding-left: 0;
}

ul.conferma-prenotazione li {
    font-weight: bolder;
    font-size: 1.2em;
}

ul.conferma-prenotazione li span {
    font-weight: normal;
    margin-right: 1em;
}

ul.conferma-prenotazione li#totale {
    margin-top: 1em;
}
#pulsanti-fine-prenotazione {
    display: none;
}

/******************************
PAGINA DI ERRORE GENERICO
******************************/
div.errore-container {
    text-align: center;
}

div.errore-container > img {
    max-width: 40%;
}

/**********************************************
GESTIONE TABELLE PAGINE UTENTE E AMMINISTRATORE
***********************************************/
.wrapper-tabella {
    margin-top: 3em;
}

.tabella{
    color:#1C1C1C;
    border-collapse: collapse;
    margin: 3em auto 2em;
    background-color: #F3F3F3;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.tabella caption{
    color: white;
}

.tabella tr {
    border-bottom: 1px solid #d0d0d0;
}

th,td {
    padding: 1em;
}

table th{
    font-weight: bold;
}

.tabella tr:hover {
    background-color: #d6d6d6;
}

/**** STILE PIE CHART ******/
#stat-manager .ct-label {
    color: white;
    fill: white;
}

/**** LOGO GRUPPO STUDIO ******/
#footer_logo{
    width: 12%;
    margin-bottom: 0.5em;
    margin-left: 65em;
}

/* AREA DI TESTO GESTIONE ATTIVITA */
textarea{
    width:100%;
    height: auto;
    margin:0;
    border: 2px solid silver;
    background-color: transparent;
    resize: none;
    font-family: 'Roboto',serif;
    line-height: 1.3;
    padding: 0.3em;
}

textarea:focus{
    border: 2px solid #302A85;
}

.form .bottone-annulla{
    display: none;
}
.btn-a-capo{
    padding-top:1.5em;
}

.salva-dati {
    display:none;
}


/*********************
STILE LOGIN:
Ricontrollare perchè sovrascrive tutto deve per ora stare in un file
a parte
**********************/

/*******************************************
PANNELLO UTENTE E AMMINISTRATORE: MENU A TAB
********************************************/
.tab {
    margin-top: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    /*border: none;*/
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tablinks {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*
PANNELLO UTENTE E AMMINISTRATORE: CONTENUTO
*/


.btn-testo {
    font-size: 0.7em;
    font-weight: bold;
    padding-left:1.5em;
    color:blue;
    text-decoration: underline;
    cursor:pointer;
}

.scheda-wrapper {
    float:left;
    width: 50%;
}

.scheda-wrapper.pari .schede {
    margin-right: 1em;

}

.schede {
    background-color: white;
    color: #1C1C1C;
    margin-top: 1.1em;
    padding: 1em;
}

.contenuto-schede {
    padding: 1em;
}

/*
h1,h2,h3{
    font-weight: 400;
}*/
.stat {
    text-align: center;
    width: 46%;
    background-color: #F3F3F3;
    padding-top: 2em;
    padding-bottom: 3em;
    border-right: 1em;
}

.stat.pari {
    margin-right: 2em;
}

.results {
    color: black;
    font-size: 315%;
    font-weight: bolder;
    text-align: center;

}

.scheda-wrapper > h3 {
    margin-left: 2em;
}

#wrapper-schede-stat {
  margin: auto;
    padding-left: 3em;
    padding-right: 3em;
}
.head-background{
    color: darkgreen;
    widht:100%;
}
.stat > h1 {
    color: black;
    float: none;
    font-weight: 500;
}


.schede h2 {
    font-weight: 700;
}

.schede ul {
    list-style-type:none;
}

.schede li {
    padding-top:0.8em;
    font-weight: bold;
}

.pagamento {
    font-weight: bold;
}


#storico {
    margin:auto;
}

.btn-reimposta{
    text-decoration: underline;
    cursor:pointer;
}

.titolo-macro{
    font-weight: 600;
}

.rate-wrapper a.btn-primary{
    font-size: 73%;
    width: 50%;
    padding: 0.5em 0.7em;
    margin-bottom:0.3em;
}

.rate-wrapper input.btn-primary{
    font-size: 73%;
    padding: 0.5em 0.7em;
}

.rate-wrapper button{
    margin-top: 0.3em;
    margin-left: 2.375em;
    margin-right: 0;
    padding: 0 0.7em;
    background-color: #1C1C1C;
}

.submit-rate{
    display: none;
}

#titolo-form {
    width:100%;
}

#titolo {
    float:left;
}
#btn-wrapper {
    float:right;
    margin-top: 1em;
}
#modifica {
    color:#F3F3F3;
    background-color: #16BFFF;
    border:2px solid #1C1C1C;
    padding: 0.2em 0.5em;
    cursor:pointer;
}

#modifica:hover {
    background-color: #008BC6;

}

#modifica:active {
    border:2px solid rgba(0,0,0,0.2 );
}


.mostra-bordo{
    border-bottom: 1px solid silver;
}


#stampa{
    width: 15%;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    float: right;

}

.icona_stampa{
    width: 35%;
}

.input-container {
    margin-left:27%;
    width: 70%;
}
#stampa-storico,#stampa-schede{

    width: 10%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0.5em;
    margin-bottom: 1em;

}

/****STILE DIALOG NUOVA ATTIVITA*****/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.nuova-scheda {
    position: relative;
    margin: 10% auto auto;
    width: 50%;
}
#macro {
    display:none;
}

.titolo-scheda-attivita {
    float: left;
    margin-top:0;
}

.dim-mod-canc{
    font-size: 0.6em;
}

.separatore {
    width:100%;
    height:1px;
    float:left;
}