.form{
    width: 350px;
    margin: auto;
    margin-top: 4%;
    padding: 2em;
    background: white;
    color: black;
}

body > div > a > img{
    display: block;
    margin: auto;

    width: 350px;
}
p{

    color: black;
    font-size: 100%
}

body > div > form {

    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 4px ;
}

form h2 {
    font-weight: 100;
    color:black;
    margin-top:1.5em;
}


div.elements-wrapper {
    margin: 1em;
}

#indirizzo-container,
#citta-container{
    float:left;
    width: 78%;
}
#civico-container, #cap-container{
    text-align: right;
}

#civico-container input,
#cap-container input{
    width: 4em;
    text-align: right;
}

form label {
    display: block;
    padding-bottom: 0.3em;
}

form .field-container:not(:first-child) label {
    margin-top: 1em;
}

#container_form{
	width: 700px;
	margin-bottom:60px;
}

#sectionPersonalData{
	width:330px;
	float:left;
	margin-right:0px;
}

#sectionAccountData{
	width: 330px;
	margin-left:350px;
}
/*** VISUALIZZAZIONE DEGLI ERRORI NEL FORM ******/
div.field-container.error > span{
    display: block;
    width: 100%;
    padding: 0.3em;
    color: red;
}

div.field-container.error > input{
    border-bottom-color: red;
}