@import url("default/default.css");

body > div {
    width: 350px;
    margin: auto;
    margin-top: 4%;
    padding: 2em;
    background: white;
    color: black;
}

body > div > img {
    display: block;
    margin: auto;

    width: 350px;
}
p{

    color: black;
    font-size: 100%
}

body > div > form {

    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 4px ;
}

form h2 {
    font-weight: 100;
    color:black;
    margin-top:1.5em;
}
div.button-holder{
    text-align: center;
}

div.elements-wrapper {
    margin: 1em;
}

input:not([type=submit]):not([type=button]) {
    width: 100%;
    height: 25pt;
    background-color: white;

    border: 0;
    border-bottom: 1px solid silver;

    outline: none; /* Rimuove il bordino azzurrino che il browser mette di default quando l'input è focused */
}

input:not([type=submit]):not([type=button]):focus {
    border-bottom: 2px solid #302A85;
}

input[type=submit] {
    margin-top: 2em;

    height: 3em;
    width: 10em;

    background: #019FE3;
    color: white;
    border: 1px solid silver;

    cursor: pointer; /* Per far comparire la manina */
    outline: none;
}

input[type=submit]:hover {
    background: #312783;
}

input[type=submit]:active {
    outline: silver solid 2px;
}

#sx{
    float:left;
    width: 80%;
}
#dx{
    text-align: right;
}

#dx input{
    width: 40px;
}
form label {
    display: block;
    padding-bottom: 0.3em;
}

form .field-container:not(:first-child) label {
    margin-top: 1em;
}