
#menu-wrapper{
    display:none;
}

.length-wrapper{
    max-width: 100%;
    padding:1.2em;
}


#header{
    margin-top:0;
    text-align:center;
}

#header div.length-wrapper {
    padding: 0.5em;
    text-align: left;
}

#header div.length-wrapper > img{
    margin: 0 auto;
    max-height: 3em;
    padding: 0em;
}
#header span{
    display:none;
}

img.banner{
    display: none;
}

.column{
    width:100%;
    float:none;
    margin-bottom:1.5em;
}