
#menu-wrapper{
    display:none;
}

.length-wrapper{
    max-width: 100%;

}


#header{
    margin-top:0;
    text-align:center;
}

#header div.length-wrapper {
    padding: 1em;
    text-align: left;
}

.hamburger {
    display: inline;
    float: right;

    margin: 0;
    padding: 0;
}

.hamburger:active {
    background: #1C1C1C;
}

.hamburger > img {
    border: 1px solid #16a5e1;
    border-radius: 3px;
}

#header div.length-wrapper > img,
.hamburger > img {
    margin: 0 auto;
    max-height: 3em;
    padding: 0em;
}

#header span{
    display:none;
}

img.banner{
    display: none;
}
.responsive-banner{
    display: block;
    width:100%;
    height: 5em;
    background-size: cover;

}
.column{
    width:100%;
    float:none;
    margin-bottom:1.5em;
}

div.form{
   width:auto;

}

#container_form{
    width:auto;
}

#sectionPersonalData , #sectionAccountData {
    float:none;
    width: 100%;
    margin:0;
}

#sectionAccountData {
    padding-top: 1em;
}

.box_SP{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}


/*MENU VERSIONE MOBILE ---> inizio*/


div#menu-mobile{
    display: list-item;
    padding-top: 0;
    padding-bottom: 0;
}

div#menu-mobile ul{
    clear:both;
    padding: 0;
    list-style-type: none;
}

div#menu-mobile ul li{
    float: left;
    width: 50%;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255,0.1);
    /*width: 100%;
    padding: 0.45em 0;
    margin: 0 0 0.55em 0;
    text-transform: uppercase;
    cursor: pointer;
    background: rgba(255, 255, 255, .8);
    text-align: center;
    border-radius: 0.75em;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: background, color, padding, border-radius;
    box-shadow: 0.1em -0.1em 0 0.1em rgba(0, 0, 0, .2), inset 0 0 0 0.15em rgba(0, 0, 0, .4), -0.1em 0.1em 0 0.1em rgba(0, 0, 0, .2);*/
}

#menu-mobile ul > li:hover  {
    background-color: #0088ff;
}


#menu-mobile ul > li > * {
    color: #fff;
    padding: 20%;
    text-decoration: none;
    font-size: 1.4em;
    display: block;
    transition: color 0.3s ease-in-out;
}

#menu-mobile > ul > li>a:nth-child(odd) {
    border-right: 1px solid rgba(255, 255, 255,0.1);
}
.icona-menu{
    max-width: 4em;
    display: block;
    margin: auto;
    margin-bottom: 0.5em;
}


div#menu-mobile ul > li.active{
    background-color: #0088ff;
}
/*MENU VERSIONE MOBILE ---> fine*/

#icona-wrapper img{
    margin-top:1em;
    max-width:2em;
    float:right;
    padding-right: 0.5em;
    margin-bottom:1em;
}

.icon_SP {
    float: none;
    clear: both;
}

.btn {
    display: block;
    margin: 1em 0em;
}
#intestazione-per-mobile{
    width: 100%;
    padding: 0;
}
#tab-content-mobile{
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.scheda-wrapper{
    clear:both;
    width:100%;
}

.scheda-wrapper.pari .schede{
    margin-right: 0;
}

.tabcontent {
    border: none;
    padding: 0em;
}
.wrapper-tabella{
    overflow-x: auto;
}