body, html {
    font-family: "Roboto","Verdana","Arial",sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    background-color: #E8EAF6;
}

.container-fluid{
    width: 100%;
    margin:0;
    padding: 0;
    font-size:1.2em;
}

.container{
    padding-top:30px;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
}
#header{

    background: #B3E5FC;
    height:;
}
#logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding: 30px 0 30px;
}

#titolo {
    font-weight: 100;
    font-size: 3em;
    text-align: center;
}

#menu{

    float:left;
    width: 250px;
    margin:0 ;
    position: fixed;
    background: #311B92;
    color: #FFFFFF;
    text-align: center;
}

#menu ul{
    list-style-type:none;
    padding:0;
    font-size: 1.2em;
}
#menu li{
    padding: 0.7em  0.7em ;
}


#content{
    width: 70%;
    padding-left: 230px;
    margin:auto;

}
.intestazione{


    margin-bottom: 1em;
    padding-bottom:1em;
    text-align: center;
}
.intestazione h1{
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-weight: 100;
    font-size: 3.5em;

}
#paginaTitolo{
    line-height: 60px;
    display: table;
    margin: 20px auto ;

}

.schede{
    margin-top:1em;
    background-color: #FFF;
    padding:0.5em;
    text-align: justify;
}
#prima{
    margin:0;
}
.schede img{

    width: 100%;
}

#menu a:link {
    color: #ffffff;
}

#menu a:visited{
    color:#EEEEEE;

}