html,body {
    background-color: #616c7e;
    padding: 0;
    margin: 0;
    clear: both;
    font-family: 'Roboto',serif;
    color: #dae3ea;
    font-size: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 100;
}

