/*formato A4 standard*/
@page {
    size: 210mm 297mm;
    margin-top: 5mm;
    margin-right: 30mm;
    margin-left: 30mm;
}
.no-print {
    display :none !important;
}

.calendar-wrap.calendar_show {
    display :none !important;
}
div.attivita span.btn.btn-primary, div.attivita span.btn.btn-primary:hover, div.attivita span.btn.btn-primary:active {
    display: none;
}
.banner {
    display:none;
}

div#content > img{
    display: none;
}

div#content{
    margin-bottom: 0;
    margin-top: 0;
}

#menu-wrapper{
    display: none;
}

div.odd,div.even{
    color: black;
    padding-top: 0;
    padding-bottom: 0;
}
#content .odd > .length-wrapper, #content .even > .length-wrapper{

    padding-top: 0;
    padding-bottom: 0;

}
span.primary-btn.inline-btn {
    display: none;

}
.btn.btn-primary{
    display: none;

}
a.primary-btn.inline-btn {
    display: none;
}
.attivita {
    border-left: none;
    padding-left: 0;
}

.content-wrapper {
    color: black;
}

.attivita  {
    color: black;
    page-break-inside: avoid;
}
span.price-tag {
    color: black;
}


div.column {
    width: 100%;
    page-break-inside: avoid;

}

div.button-holder{
    display: none;
}

div.img-wrapper{
    display: none;
}

div.box_SP > img{
    display: none;
}

div.box_SP{
    margin: 0;

}
div#intestazione-per-mobile.length-wrapper{
    display: none;
}

h1,h2,h3,h4,h5{
    color: black;
}

div.title-wrapper > h1{
    text-align: left;
    font-weight: 300;
    display: block;

}
#elimina-account,#modifica{
    display: none;

}

.tabcontent, table#storico.tabella > thead,.tabella tr{
    border: none;
}

.scheda-wrapper{
    display:block;
    float:none;
}

.titolo-form:not(:first-child), #mod-pwd-form > .log-field-container{
    display: none;
}

#username{
    border-bottom: none;

}

#crea-macro, #finestra-macro, #nuova-scheda-attivita,.elimina-attivita,.btn.btn-block.btn-nuova-attivita,.dim-mod-canc, .btn.btn-testo.btn-reimposta, .btn-cancella, #scheda-QR, #lettoreQR, #impostazione-giorno{
    display: none;
}

.scheda-wrapper{
    width: 100%;
    margin: 0;
    page-break-inside: avoid;
}

textarea{
    border: none;
    width: 100%;
    height: 100%;
    color: black;
}


.input-container{
    margin-left: 0;
    margin-top: 8px;
}

input[type=text], input[type=number]{
    border: none;
}

p{
    color: black;
}
.schede-attivita .field-container{
    margin: 0;
}

.titolo-scheda-attivita {
    margin: 0;
    padding: 0;
}