form label {
    float:left;
    margin-top: 0.5em;
    font-weight: bold;
    width: 25%;
    padding-bottom: 0;
    text-align: right;
}

#stampa-storico,#stampa-schede{

    width: 12%;
    padding-left: 1.75em;
    padding-right: 1.75em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    float: right;
}

#stampa-schede {
    margin-top: 21em;
}
.field-container {
    margin-top:1em;
}

input[type=text]:disabled, input[type=password]:disabled{
    border:0;
    border-bottom: 2px solid transparent;
}

form .field-container:not(:first-child) label {
    margin-top:0.4em;

}