form label {
    float:left;
    margin-top: 0.5em;
    font-weight: bold;
    width: 25%;
    padding-bottom: 0;
    text-align: right;
}

.field-container {
    margin-top:1em;
}

input[type=text]:disabled, input[type=password]:disabled{
    border:0;
    border-bottom: 2px solid transparent;
}

form .field-container:not(:first-child) label {
    margin-top:0.4em;
}