<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <link rel="stylesheet" type="text/css"  href="css/mobile.css" media="screen and (max-width:480px), only screen and (max-device-width:480px)"/>
    <title>Onda Selvaggia - Conferma prenotazione</title>
</head>
<body>

[#INTESTAZIONE]

<div id="content">
    <div class="even">
        <div class="length-wrapper">
            <h1>Conferma prenotazione</h1>
            <h2>Informazioni generali</h2>
            <ul class="conferma-prenotazione">
                <li><span>Attività: </span>Active Raft</li>
                <li><span>Data: </span>30/10/2020<span> (tra 450 giorni)</span></li>
            </ul>

            <h2>Importo</h2>
            <ul class="conferma-prenotazione">
                <li><span>Prezzo unitario: </span>&euro; 40.00</li>
                <li><span>Persone: </span>300</li>
                <li id="totale"><span>Totale: </span>&euro; 300</li>
            </ul>
        </div>
    </div>
</div>

[#MENU-MOBILE]

</body>
</html>