<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/conferma_prenotazione_pdf.css">
</head>
<body>
    <div class="intestazione">
        <img src="images/new_logo_min.png">
        <h1>Conferma prenotazione</h1>
        <p>Prova testo conferma prenotazione</p>
        <ul>
            <li>Nome: [#NOME]</li>
            <li>Data prenotazione: [#DATA]</li>
            <li>Attivita: [#ATTIVITA]</li>
            <li>Posti prenotati: [#POSTI]</li>
            <li>Importo totale: &euro; [#IMPORTO]</li>
        </ul>
    </div>
</body>
</html>