<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Errore</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <link rel="stylesheet" type="text/css" href="css/login.css" >
    <link rel="stylesheet" type="text/css"  href="css/mobile.css" media="screen and (max-width:768px), only screen and (max-device-width:768px)"/>
    <link rel="icon" href="images/favicon.ico">

</head>
<body>

[#INTESTAZIONE]

<div class="form">
    <div class="errore-container">
        <img src="images/icone/icona_errore.png" alt="Errore!">
        <h1>Errore</h1>
        <p>[#MESAGGIO-ERRORE]</p>
        <p><a href="[#HREF-LINK]">[#TESTO-LINK]</a></p>
    </div>
</div>
[#MENU-MOBILE]
</body>
</html>