<div id="menu-wrapper">
    <div id="menu" class="length-wrapper">
        [#PULSANTI_INTESTAZIONE]
        <ul>
        [#VOCI_MENU]
        </ul>
    </div>
</div>
<div id="header">
    <div class="length-wrapper">
        <img src="images/new_logo.png" alt="Onda Selvaggia - Logo">
        <a href="#menu-mobile" class="hamburger"><img src="images/icone/icona_menu.png" alt="Mostra menu"></a>
        <div id="contatti-header"><span><img src="images/icone/icona_telefono.png" alt="telefono fisso"> 0424 99581 |
                <img src="images/icone/icona_cellulare.png" alt="cellulare"> 3473767729</span>
            <span><img src="images/icone/icona_email.png" alt="email"> info@ondaselvaggia.com</span>
        </div>
    </div>
</div>
