<!DOCTYPE html>
<html lang="it">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <link rel="stylesheet" type="text/css" href="css/login.css" >
    <link rel="stylesheet" type="text/css"  href="css/mobile.css" media="screen and (max-width:768px), only screen and (max-device-width:768px)"/>
    <link rel="icon" href="images/favicon.ico">

    </head>
    <body>

    [#INTESTAZIONE]

    <div class="form">
        <form method="POST" action="php/do_login.php">
            <h1>Accedi</h1>

            <div class="alert errore" aria-live="assertive" role="alert">Si è verificato un errore: username o password non corretti</div>
            <div class="alert successo" aria-live="assertive" role="alert">Login effettuato con successo. <br>Reindirizzamento in corso (se non funziona cliccare <a href="[#HTTP_REFERER]">qua</a>).</div>

            <div class="field-container">
                <label for="username">Nome utente: </label>
                <input type="text" id="username" name="username" placeholder="Nome utente..">
            </div>
            <div class="field-container">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" placeholder="Password..">
            </div>
            <div class="button-holder"><input type="submit" value="Login" class="btn btn-primary" ></div>

            <input type="hidden" id="HTTP_REFERER" name="HTTP_REFERER" value="[#HTTP_REFERER]">
            <input type="hidden" id="JSAbilitato" name="JSAbilitato" value="0">
            <p>Non sei ancora registrato? <a href="registrazione.php">Registrati</a></p>
        </form>
    </div>

    [#MENU-MOBILE]
    <script type="text/javascript" src="js/login.js"></script>
    </body>
</html>