<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <link rel="stylesheet" type="text/css" href="css/pannello_admin.css" >
    <link rel="stylesheet" type="text/css"  href="css/mobile.css" media="screen and (max-width:768px), only screen and (max-device-width:768px)"/>
    <link rel="icon" href="images/favicon.ico">

</head>
<body>
    [#INTESTAZIONE]

    <div id="content">

        <div class="odd">
        <div class="even">
            <h1>Pannello di amministrazione</h1>
        <ul>
            <li><a href=""><img class="icona_pannello" src="images/icone/icona_home.png"> Utenti registrati</a></li>
            <li><a href=""><img class="icona_pannello" src="images/icone/icona_home.png"> Reset password</a></li>
            <li><a href=""><img class="icona_pannello" src="images/icone/icona_home.png">Gestisci Attività</a></li>
            <li><a href=""><img class="icona_pannello" src="images/icone/icona_home.png">Gestisci prenotazioni</a></li>
        </ul>


        </div>


        </div>



    </div>




    [#MENU-MOBILE]
    <script type="text/javascript" src="js/login.js"></script>
</body>
</html>