<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pannello admin</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <link rel="stylesheet" type="text/css" href="css/utente.css">
    <link rel="stylesheet" type="text/css"  href="css/mobile.css" media="screen and (max-width:768px), only screen and (max-device-width:768px)"/>
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

</head>
<body>
    [#INTESTAZIONE]

    <div id="content">
        <div class="odd">
            <div class="length-wrapper">
                <div class="tab">
                    <button class="tablinks" data-target="stat-manager"><b>Statistiche</b></button>
                    <button class="tablinks" data-target="usr-manager"><b>Gestisci Utenti</b></button>
                    <button class="tablinks" data-target="act-manager"><b>Gestisci Attività</b></button>
                    <button class="tablinks" data-target="res-manager"><b>Gestisci Prenotazioni</b></button>
                </div>
                <div id="stat-manager" class="tabcontent">
                    <h3>Attività più prenotate</h3>
                    <div class="ct-chart"></div>
                    <div class="wrapper-tabella">
                        <table class="tabella">
                            <tbody>
                            <tr class="intestazione-tabella">
                                <th>Posizione</th>
                                <th>Nome Attività</th>
                                <th>Numero Prenotazioni</th>
                            </tr>
                            [#ATTIVITA-PIU-PRENOTATE]
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="usr-manager" class="tabcontent wrapper-tabella">
                    <table class="tabella">
                        <caption><h3>Gestione utenti</h3></caption>
                        <thead>
                        <tr class="intestazione-tabella">
                            <th>Nome</th>
                            <th>Cognome</th>
                            <th>Indirizzo</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            [#UTENTI]
                        </tbody>
                    </table>
                </div>

                <div id="act-manager" class="tabcontent">
                    <h1>Gestione attività</h1>
                    [#ATTIVITA]
                </div>

                <div id="res-manager" class="tabcontent wrapper-tabella">
                    <table class="tabella">
                        <caption><h3>Gestione prenotazioni</h3></caption>
                        <thead>
                            <tr class="intestazione-tabella">
                                <th>Utente</th>
                                <th>Attività</th>
                                <th>Posti</th>
                                <th>Giorno prenotato</th>
                                <th>Stato</th>
                                <th>Pagamento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        [#PRENOTAZIONI]
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    [#MENU-MOBILE]
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
        <script type="text/javascript" src="js/pannello.js"></script>
        <script type="text/javascript" src="js/pannello-admin.js"></script>
</body>
</html>
