<div class="scheda-wrapper [#CLASSE-SCHEDA]">
    <div class="schede">

        <h2>[#NOME]</h2>
        <table>
            <tr>
                <th>Descrizione</th>
                <td>[#DESCRIZIONE]</td>
            </tr>
            <tr>
                <th>Prezzo</th>
                <td>[#PREZZO]</td>
            </tr>
        </table>
        <div class="button-holder">
            <a href="#" class="btn btn-primary ">Modifica</a>
            <button class="btn-cancella">CANCELLA</button>
        </div>
    </div>
</div>