<div class="rate-wrapper rate-button">
    <a class="btn btn-primary">Valuta</a>
</div>
<div class="rate-wrapper submit-rate">
    <select class="select-rate" title="Vota-attivita-[#ID-PRENOTAZIONE]">
        <option>--</option>
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <a href="#" class="btn btn-primary accept" id="[#ID-PRENOTAZIONE]">Conferma</a>
    <button class="btn-cancella cancel">Annulla</button>
</div>