<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <title>Onda Selvaggia - Home</title>
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <!-- , only screen and (max-device-width:768px) -->
    <link rel="stylesheet" type="text/css" href="css/stampa.css" media="print">
    <link rel="stylesheet" type="text/css" href="css/users.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css"  href="css/mobile.css" media="screen and (max-width:768px), only screen and (max-device-width:768px)"/>

</head>
<body>

[#INTESTAZIONE]

<div id="content">
    <div class="length-wrapper" id="intestazione-per-mobile">
        <div class="tab">
            <button class="tablinks" data-target="prenotazioni"><b>Prenotazioni</b></button>
            <button class="tablinks" data-target="account"><b>Account</b></button>
        </div>
    </div>
    <div class="length-wrapper" id="tab-content-mobile">
            <div id="prenotazioni" class="tabcontent">
                <h1>Prenotazioni Attive</h1>

                    [#SCHEDE]
                    <div class="clearfix"></div>


                <!-- Forse da fare lo slideDown con js -->

                <h2>Storico Prenotazioni</h2>
                <table id="storico">
                    <tr class="intestazione-tabella">
                        <th>Nome attività</th>
                        <th>Giorno prenotato</th>
                        <th>Posti prenotati</th>
                        <th>Stato</th>
                    </tr>
                    [#STORICO-PRENOTAZIONI]
                </table>
            </div>

            <div id="account" class="tabcontent">
                <div class="form" id="container_form">
                    <h1>Riepilogo dati account <span id="modifica" class="btn-testo">Modifica</span></h1>
                    <form action="" method="POST">
                        <h3>Dati personali</h3>
                        <div class="field-container">
                            <label for="nome">Nome: </label>
                            <input type="text" id="nome" name="nome" value="[#NOME]">
                        </div>
                        <div class="field-container">
                            <label for="cognome">Cognome: </label>
                            <input type="text" id="cognome" name="cognome" value="[#COGNOME]">
                        </div>
                        <div class="field-container" id="indirizzo-container">
                            <label for="indirizzo">Indirizzo: </label>
                            <input type="text" id="indirizzo" name="indirizzo" value="[#INDIRIZZO]">
                        </div>
                        <div class="field-container" id="civico-container">
                            <label for="civico">Civico: </label>
                            <input type="text"  size="4" id="civico" name="civico" value="[#CIVICO]">
                        </div>
                        <div class="field-container" id="citta-container">
                            <label for="citta">Citt&agrave;: </label>
                            <input type="text" id="citta" name="citta" value="[#CITTA]">
                        </div>
                        <div class="field-container" id="cap-container">
                            <label for="CAP">CAP: </label>
                            <input type="text"  size="4" id="CAP" name="CAP" value="[#CAP]">
                        </div>
                        <h3>Dati account</h3>
                        <div class="field-container">
                            <label for="username">Nome utente: </label>
                            <input type="text" id="username" name="username" value="[#NOME]">
                        </div>
                        <div class="field-container">
                            <label for="email">Email: </label>
                            <input type="text" id="email" name="email" value="[#MAIL]">
                        </div>
                        <div class="field-container mostra-modifica">
                            <label for="password">Password: </label>
                            <input type="password" id="password" name="password" value="Password...">
                        </div>
                        <div class="field-container mostra-modifica">
                            <label for="password2">Ripeti password: </label>
                            <input type="password" id="password2" name="password2" value="Ripeti password..">
                        </div>
                        <div class="button-holder mostra-modifica" >
                            <input type="submit" value="Modifica" name="modifica" class="btn btn-primary">
                            <span class="btn" id="annulla" class="btn-testo">Annulla</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>



[#MENU-MOBILE]
<script type="text/javascript" src="js/menuUtente.js"></script>
</body>
</html>