<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <title>Onda Selvaggia - Home</title>
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <link rel="stylesheet" type="text/css"  href="css/mobile.css" media="screen and (max-width:768px)"/><!-- , only screen and (max-device-width:768px) -->
    <link rel="stylesheet" type="text/css" href="css/stampa.css" media="print">
    <link rel="stylesheet" type="text/css" href="css/Users.css">
    <script src="../../js/menuUtente.js"></script>
</head>
<body>

[#INTESTAZIONE]

<div id="content">
    <div id="odd">
        <div class="length-wrapper">
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'Prenotazioni')"><b>Prenotazioni</b></button>
                <button class="tablinks" onclick="openCity(event, 'Account')"><b>Account</b></button>
            </div>


            <div id="Prenotazioni" class="tabcontent">
                <h3>Prenotazioni</h3>
                <p>London is the capital city of England.</p>
            </div>

            <div id="Account" class="tabcontent">
                <h3>Account</h3>
                <p>Paris is the capital of France.</p>
            </div>



        </div>
    </div>
</div>


[#MENU-MOBILE]

</body>
</html>