<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <title>Onda Selvaggia - Home</title>
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <link rel="stylesheet" type="text/css"  href="css/mobile.css" media="screen and (max-width:768px)"/><!-- , only screen and (max-device-width:768px) -->
    <link rel="stylesheet" type="text/css" href="css/stampa.css" media="print">
    <link rel="stylesheet" type="text/css" href="css/users.css">

</head>
<body>

[#INTESTAZIONE]

<div id="content">
    <div class="odd">
        <div class="length-wrapper">
            <div class="tab">
                <button class="tablinks" data-target="prenotazioni"><b>Prenotazioni</b></button>
                <button class="tablinks" data-target="account"><b>Account</b></button>
            </div>


            <div id="prenotazioni" class="tabcontent">
                <h3>Prenotazioni</h3>
                [#PRENOTAZIONI]
            </div>

            <div id="account" class="tabcontent">
                <h3>Account</h3>
                [#ACCOUNT]
            </div>



        </div>
    </div>
</div>


[#MENU-MOBILE]
<script type="text/javascript" src="js/menuUtente.js"></script>
</body>
</html>