<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <title>Onda Selvaggia - Home</title>
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <!-- , only screen and (max-device-width:768px) -->
    <link rel="stylesheet" type="text/css" href="css/stampa.css" media="print">

    <link rel="stylesheet" type="text/css" href="css/login.css">

    <link rel="stylesheet" type="text/css" href="css/utente.css">
    <link rel="stylesheet" type="text/css"  href="css/mobile.css" media="screen and (max-width:768px), only screen and (max-device-width:768px)"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
</head>
<body>

[#INTESTAZIONE]

<div id="content">
    <noscript >
        <div class="alert errore" role="alert" style="display: block">Per favore abilita javascript</div>
    </noscript>
    <div class="length-wrapper" id="intestazione-per-mobile">

        <div class="tab">
            <button class="tablinks" data-target="prenotazioni"><b>Prenotazioni</b></button>
            <button class="tablinks" data-target="account"><b>Account</b></button>
        </div>
    </div>
    <div class="length-wrapper" id="tab-content-mobile">
            <div id="prenotazioni" class="tabcontent">
                <h1>Prenotazioni Attive</h1>
                [#SCHEDE]
                <div class="clearfix"></div>
                <div class="wrapper-tabella">
                    <table class="tabella">
                       <caption><h2>Storico Prenotazioni</h2></caption>
                        <thead>
                        <tr>
                            <th>Nome attività</th>
                            <th>Giorno prenotato</th>
                            <th>Posti prenotati</th>
                            <th>Stato</th>
                            <th>Valutazione</th>
                        </tr>
                        </thead>
                        <tbody>
                            [#STORICO-PRENOTAZIONI]
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="account" class="tabcontent">
                <div action="" class="form" id="container_form">
                    <h1>Riepilogo dati accounti<span class="btn-testo modifica">Modifica</span> </h1>
                    <form action="" method="POST">
                        <div class="field-container">
                            <label for="username" class="label-riepilogo">Nome utente: </label>
                            <div class="input-container">
                                <input type="text" id="username" name="username" value="[#USERNAME]">
                            </div>
                        </div>
                        <div class="field-container">
                            <label for="email" class="label-riepilogo">Email: </label>
                            <div class="input-container">
                                <input type="text" id="email" name="email" value="[#EMAIL]">
                            </div>
                        </div>
                        <div class="field-container">
                            <label for="vecchia-password" class="label-riepilogo">Modifica password: </label>
                            <div class="input-container">
                                <input type="password" id="vecchia-password" name="vecchia-password" placeholder="Password corrente">
                            </div>
                        </div>
                        <div class="field-container mostra-modifica-password">
                            <label for="password" class="label-riepilogo">Nuova password: </label>
                            <div class="input-container">
                                <input type="password" id="password" name="password" placeholder="Inserisci la nuova password">
                            </div>
                        </div>
                        <div class="field-container mostra-modifica-password">
                            <label for="password2" class="label-riepilogo" value="Inserisci la nuova password">Ripeti nuova password: </label>
                            <div class="input-container">
                                <input type="password" id="password2" name="password2" placeholder="Ripeti la nuova password">
                            </div>
                        </div>

                        <div class="button-holder mostra-modifica-password" >
                            <button id="bottone-modifica-password" name="modifica" class="btn btn-primary">Modifica password</button>
                            <span class="btn" id="annulla-modifica-pwd" class="btn-testo">Annulla</span>
                        </div>
                        <div class="field-container">
                            <label for="nome" class="label-riepilogo">Nome: </label>
                            <div class="input-container">
                                <input type="text" class="form-input" id="nome" name="nome" value="[#NOME]">
                            </div>
                        </div>
                        <div class="field-container">
                            <label for="cognome" class="label-riepilogo">Cognome: </label>
                            <div class="input-container">
                                <input type="text" id="cognome" name="cognome" value="[#COGNOME]">
                            </div>
                        </div>
                        <div class="field-container">
                            <label for="indirizzo" class="label-riepilogo">Indirizzo: </label>
                            <div class="input-container">
                                <input type="text" id="indirizzo" name="indirizzo" value="[#INDIRIZZO]">
                            </div>
                        </div>
                        <div class="field-container" >
                            <label for="civico" class="label-riepilogo">Civico: </label>
                            <div class="input-container">
                                <input type="text"  size="4" id="civico" name="civico" value="[#CIVICO]">
                            </div>
                        </div>
                        <div class="field-container">
                            <label for="citta" class="label-riepilogo">Citt&agrave;: </label>
                            <div class="input-container">
                                <input type="text" id="citta" name="citta" value="[#CITTA]">
                            </div>
                        </div>
                        <div class="field-container">
                            <label for="CAP" class="label-riepilogo">CAP: </label>
                            <div class="input-container">
                                <input type="text"  size="4" id="CAP" name="CAP" value="[#CAP]">
                            </div>
                        </div>


                        <div class="button-holder mostra-modifica" >
                            <input type="submit" value="Modifica" name="modifica" class="btn btn-primary">
                            <span class="btn" id="annulla" class="btn-testo">Annulla</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>



[#MENU-MOBILE]
<span id="descrizione-modifica-password">Clicca per modificare la password</span>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script type="text/javascript" src="js/pannello.js"></script>
<script type="text/javascript" src="js/pannello-utente.js"></script>

</body>
</html>