<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <title>Onda Selvaggia - Home</title>
    <link rel="stylesheet" type="text/css" href="css/default.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/stampa.min.css" media="print">


    <link rel="stylesheet" type="text/css"  href="css/mobile.min.css" media="screen and (max-width:768px)"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

</head>
<body>

[#INTESTAZIONE]

<div id="content" role="main">
    <noscript >
        <div class="alert errore" role="alert" style="display: block">Per favore abilita <span lang="en">javascript</span></div>
    </noscript>
    <div class="length-wrapper" id="intestazione-per-mobile">

        <div class="tab">
            <button class="tablinks mobile-tab-button" data-target="prenotazioni">Prenotazioni</button>
            <button class="tablinks mobile-tab-button" data-target="account" lang="en">Account</button>
        </div>
    </div>
    <div class="length-wrapper" id="tab-content-mobile">
        <div id="prenotazioni" class="tabcontent">
            <h1>Prenotazioni Attive</h1>
            <div class="schede-prenotazioni">
                [#SCHEDE]
                <div class="clearfix"></div>
            </div>

            <div class="wrapper-tabella">
                <table class="tabella" id="storico">
                    <caption><h2>Storico Prenotazioni</h2></caption>
                    <thead>
                    <tr>
                        <th scope="col">Nome attività</th>
                        <th scope="col">Giorno prenotato</th>
                        <th scope="col">Posti prenotati</th>
                        <th scope="col">Stato</th>
                        <th scope="col">Valutazione</th>
                    </tr>
                    </thead>
                    <tbody>
                    [#STORICO-PRENOTAZIONI]
                    </tbody>
                </table>

                <button class="btn btn-primary" id="stampa-storico"><img src="images/icone/icona_stampa.png" class="icona_stampa" alt=" "/>Stampa storico</button>
            </div>
            <div class="clearfix"></div>
        </div>

        <div id="account" class="tabcontent">
            <div class="form container_form">
                <div class="titolo-form">
                    <h1 id="titolo">Riepilogo dati <span lang="en">account</span></h1>

                    <h2 id="btn-wrapper"><span id="modifica" class="button">Modifica dati</span></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="alert errore" aria-live="assertive" role="alert" aria-atomic="true"><p class="intestazione-alert">Errore:</p></div>
                <form id="dati-utente">
                    <div class="log-field-container">
                        <label  for="username" class="">Nome utente: </label>
                        <div class="input-container">
                            <input type="text" id="username" name="username" value="[#USERNAME]">
                        </div>
                    </div>
                    <div class="log-field-container">
                        <label for="email" lang="en">Email: </label>
                        <div class="input-container">
                            <input type="text" id="email" name="email" value="[#EMAIL]" class="disabilita">
                        </div>
                    </div>


                    <div class="log-field-container">
                        <label for="nome" >Nome: </label>
                        <div class="input-container">
                            <input type="text" class="form-input disabilita" id="nome" name="nome" value="[#NOME]">
                        </div>
                    </div>
                    <div class="log-field-container">
                        <label for="cognome" >Cognome: </label>
                        <div class="input-container">
                            <input type="text" id="cognome" name="cognome" value="[#COGNOME]" class="disabilita">
                        </div>
                    </div>
                    <div class="log-field-container">
                        <label for="indirizzo" >Indirizzo: </label>
                        <div class="input-container">
                            <input type="text" id="indirizzo" name="indirizzo" value="[#INDIRIZZO]" class="disabilita">
                        </div>
                    </div>
                    <div class="log-field-container" >
                        <label for="civico" >Civico: </label>
                        <div class="input-container">
                            <input type="text"  size="4" id="civico" name="civico" value="[#CIVICO]" class="disabilita">
                        </div>
                    </div>
                    <div class="log-field-container">
                        <label for="citta" >Citt&agrave;: </label>
                        <div class="input-container">
                            <input type="text" id="citta" name="citta" value="[#CITTA]" class="disabilita">
                        </div>
                    </div>
                    <div class="log-field-container">
                        <label for="CAP"><abbr title="Codice di avviamento postale">CAP</abbr>: </label>
                        <div class="input-container">
                            <input type="text"  size="4" id="CAP" name="CAP" value="[#CAP]" class="disabilita">
                        </div>
                    </div>


                    <div class="button-holder mostra-modifica" >
                        <input type="submit" value="Modifica" name="modifica" class="btn btn-primary" id="invio-dati">
                        <button class="btn" id="annulla" >Annulla</button>
                    </div>
                </form>
                    <div class="titolo-form">
                        <h2>Modifica <span lang="en">password</span></h2>
                    </div>
                    <div class="alert errore" aria-live="assertive" role="alert" aria-atomic="true"><p class="intestazione-alert">Errore:</p></div>
                    <form id="mod-pwd-form">
                        <div class="log-field-container">
                            <label for="vecchia-password" ><span lang="en">Password</span> corrente: (obbligatorio)</label>
                            <div class="input-container">
                                <input type="password" id="vecchia-password" name="vecchia-password" placeholder="Password corrente" class="disabilita">
                            </div>
                        </div>
                        <div class="log-field-container">
                            <label for="password" >Nuova <span lang="en">password</span>: (obbligatorio)</label>
                            <div class="input-container">
                                <input type="password" id="password" name="password" placeholder="Inserisci la nuova password" class="disabilita">
                            </div>
                        </div>
                        <div class="log-field-container">
                            <label for="password2">Ripeti nuova <span lang="en">password</span>: (obbligatorio)</label>
                            <div class="input-container">
                                <input type="password" id="password2" name="password2" placeholder="Ripeti la nuova password" class="disabilita">
                            </div>
                        </div>

                        <div class="button-holder" >
                            <button id="bottone-modifica-password" name="modifica" class="btn btn-primary">Modifica <span lang="en">password</span></button>
                            <button id="annulla-modifica-pwd" class="btn">Annulla</button>
                        </div>
                    </form>
                </div>

            <button id="elimina-account" class="btn btn-red">Elimina <span lang="en">account</span></button>
        </div>
    </div>
</div>
[#MENU-MOBILE]
<!--
<script src="js/jquery-confirm.min.js"></script>
<script src="js/pannello.min.js"></script>
<script src="js/pannello-utente.min.js"></script>
-->
<script src="js/jquery-confirmjs"></script>
<script src="js/pannello.js"></script>
<script src="js/pannello-utente.js"></script>
</body>
</html>