

<div class="scheda-wrapper [#CLASSE-SCHEDA]">
    <div class="schede" id="[#ID-PRENOTAZIONE]">

        <h2>[#NOME-ATTIVITA]</h2>
        <table>
            <tr>
                <th>Giorno prenotato:</th>
                <td class="giorno">[#GIORNO]</td>
            </tr>
            <tr>
                <th>Posti Prenotati:</th>
                <td>[#POSTI]</td>
            </tr>
            <tr>
                <th>Pagamento:</th>
                <td class="pagamento">[#PAGAMENTO]</td>
            </tr>
        </table>
        <div class="button-holder">
            <a href="pdf_prenotazione.php?codice=[#ID-PRENOTAZIONE]" class="btn btn-primary ">Scarica PDF</a>
            <button class="btn-cancella" data-target="[#ID-PRENOTAZIONE]">CANCELLA PRENOTAZIONE</button>
        </div>
    </div>
</div>

