<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <title>Onda Selvaggia - Attività</title>
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <link rel="stylesheet" type="text/css"  href="css/mobile.css" media="handheld, screen and (max-width:768px), only screen and (max-device-width:768px)"/>
    <!-- JS per la finestra di dialogo -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="prenotazione_dialog.js"></script>

</head>
<body>

[#INTESTAZIONE]

    <div id="content">
        <div id="overlay">
            <div id="dialog-box" class="length-wrapper">
                <div id="dialog-header">
                    <img src="images/icone/icona_chiudi_menu_nero.png" alt="chiudi menu">
                    <h1>Prenotazione</h1>
                </div>
                <div id="dialog-content">
                    [#NOME-ATTIVITA]
                </div>
            </div>
        </div>
        <div class="odd">
            <div class="length-wrapper">
                <h1>Attivit&agrave; offerte</h1>
                <p>
                    In questa sezione troverete le nostre attivit&agrave; con le offerte attuali. Se desiderate avventurarvi
                    in una qualsiasi delle nostre proposte effettuate il login ( o la registrazione ).
                </p>
                <p>
                    Se desiderate avere maggiori informazioni non esitate a contattarci via mail o telefono.
                    I contatti li trovate a <a href="../tecweb/contattaci.php">questa pagina</a>.
                </p>
            </div>
        </div>
        [#ATTIVITA]
    </div>
[#FOOTER]
</body>
</html>