<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

    <title>Onda Selvaggia - Attività</title>
    <link rel="stylesheet" type="text/css" href="css/asDatepicker.css"/>
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <link rel="stylesheet" type="text/css"  href="css/mobile.css" media="screen and (max-width:768px)"/>
    <link rel="stylesheet" type="text/css" href="css/stampa.css" media="print"/>

</head>
<body>

[#INTESTAZIONE]

    <div id="content" role="main">
            <form onsubmit="return false">
                <input type="hidden" id="puAttivita"><!--Prezzo unitario dell'attività selezionata-->
                <input type="hidden" id="attivitaSelezionata">
            </form>
        <div class="odd">
            <div class="length-wrapper">
                <h1>Attivit&agrave; offerte</h1>
                <p>
                    In questa sezione troverete le nostre attivit&agrave; con le offerte attuali. Se desiderate avventurarvi
                    in una qualsiasi delle nostre proposte effettuate il <span lang="en">login</span> ( o la registrazione ).
                </p>
                <p>
                    Se desiderate avere maggiori informazioni non esitate a contattarci via <span lang="en">mail</span> o telefono.
                </p>
            </div>
        </div>
        [#ATTIVITA]
    </div>
    [#MENU-MOBILE]
    <script type="text/javascript" src="js/jquery-asDatepicker.min.js"></script>
    <script type="text/javascript" src="js/attivita.min.js"></script>
</body>
</html>