<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/default.min.css"/>
    <link rel="stylesheet" type="text/css"  href="css/mobile.min.css" media="screen and (max-width:480px), only screen and (max-device-width:480px)"/>
    <title>Onda Selvaggia - Conferma prenotazione</title>
</head>
<body>

[#INTESTAZIONE]

<div id="content">
    <div class="even">
        <form action="php/do_prenotazione.php" method="POST" class="length-wrapper">

            <div class="alert errore" aria-live="assertive" role="alert" aria-atomic="true"></div>
            <div class="alert successo" aria-live="assertive" role="alert" aria-atomic="true">Prenotazione inserita con successo. Premi <a target="_blank">QUI</a> per scaricare il <abbr title="Pi Di Effe">PDF</abbr> che dovrai consegnare il giorno dell'attività.</div>

            <h1>Conferma prenotazione</h1>
            <h2>Informazioni generali</h2>
            <ul class="conferma-prenotazione">
                <li><span>Attività: </span>[#NOME-ATTIVITA]</li>
                <li><span>Data: </span>[#DATA-PRENOTAZIONE]</li>
            </ul>

            <h2>Importo</h2>
            <ul class="conferma-prenotazione">
                <li><span>Prezzo unitario: </span>&euro; [#PREZZO-ATTIVITA]</li>
                <li><span>Persone: </span>[#POSTI-PRENOTAZIONE]</li>
                <li id="totale"><span>Totale: </span>&euro; [#TOTALE-PRENOTAZIONE]</li>
            </ul>

            <input type="hidden" name="attivita" value="[#ATTIVITA-PRENOTAZIONE]">
            <input type="hidden" name="data" value="[#DATA-PRENOTAZIONE]">
            <input type="hidden" name="posti" value="[#POSTI-PRENOTAZIONE]">

            <div id="pulsanti-container">
                <input type="submit" class="btn btn-primary" id="conferma-pren" value="Conferma prenotazione">
                <a href="attivita.php" class="btn" id="annulla-pren">Torna indietro</a>
            </div>
            <div id="pulsanti-fine-prenotazione">
                <a href="attivita.php" class="btn">Torna alla pagina Attività</a>
            </div>
            <input type="hidden" id="JSAbilitato" name="JSAbilitato" value="0">
        </form>
    </div>
</div>

[#MENU-MOBILE]
<script src="js/conferma-prenotazione.min.js"></script>

</body>
</html>
