<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/conferma_prenotazione_pdf.css">
</head>
<body>
    <div class="intestazione">
        <img src="images/new_logo_min.png">
        <h1>Conferma prenotazione</h1>
        <p>Da consegnare stampato e firmato il giorno dell'attività</p>
        <ul>
            <li>Nome: [#NOME]</li>
            <li>Data prenotazione: [#DATA]</li>
            <li>Attivita: [#ATTIVITA]</li>
            <li>Posti prenotati: [#POSTI]</li>
            <li>Importo totale: &euro; [#IMPORTO]</li>
        </ul>
        <p><b>Dichiaro</b></p>
        <ol>
            <li>di essere abile al nuoto e fisicamente e psicologicamente esente da malattie.</li>
            <li>di essere stato preventivamente informato dagli organizzatori delle difficoltà e dei rischi
            connessi alle attività fluviali da loro proposte a cui intendo parteciparvi per mia decisione e a
            mio rischio dando atto di aver ricevuto le istruzioni tecniche e le norme di comporta-mento
            necessario a cui attenermi nelle eventuali situazioni di emergenza.</li>
            <li>di esonerare la suddetta organizzazione e le sue Guide,Conduttori e Maestri di Canoa da
            qualunque responsabilità e risarcimento salvo caso di dolo o colpa grave dimostrata e palese
            nei miei confronti fisici e materiali verificatesi prima,durante o dopo l'attività sportiva anche se
            dovuti a fatto di terzi estranei o di altri partecipanti.</li>
            <li>di essere equipaggiato della specifica attrezzatura di sicurezza prevista dalle norme vigenti.</li>
            <li>di consentire il trattamento dei miei dati personali ai sensi della legge D.LGS. 196/2003</li>
            <li>di autorizzare la pubblicazione e la diffusione, a titolo gratuito, delle proprie immagini sul sito
            internet, su carta stampata e su qualsiasi altromezzo di diffusione (es facebook ed altri social
            networks) nonché la conservazione delle stesse negli archivi informatici e prende atto che le
            finalità di tali pubblicazioni sono meramente di carattere pubblicitario e promozionale in
            ambito sportivo.</li>
            <li>di essere stato completamente informato del contenuto della presente dichiarazione di cui ho
                effettuato attenta lettura sottoscrivendo la stessa di mia iniziativa.</li>
        </ol>

        <p>Firma: </p>

        <p><b>Per la segreteria:</b><br>
            Codice prenotazione: <b>[#CONTENUTO-QR]</b></p>

    </div>
</body>
</html>