<div class="macroattivita [#CLASS_MACROATTIVITA]" id="[#ID_MACROATTIVITA]">
    <div class="length-wrapper">
        <div class="responsive-banner" style=" background-image: url('images/attivita/banner/[#MACRO_BANNER]')">
        </div>
        <img class="banner" src="images/attivita/banner/[#MACRO_BANNER]" alt="[#MACRO_NOME] - immagine promozionale">
        <div class="content-wrapper">
            <h1>[#MACRO_NOME]</h1>
            <p>
                [#MACRO_DESCRIZIONE]
            </p>
        </div>

        [#SOTTOATTIVITA]

    </div>
</div>