<div class="scheda-wrapper overlay" id="finestra-crea-macro">

    <div class="length-wrapper" role="dialog"  aria-labelledby="label-dialog2" aria-modal="true" >
        <div tabindex="-1"></div>
        <div class="schede form nuova-scheda">
            <h2 id="label-dialog2">Nuova macroattività</h2>
            <form action="" method="POST">
                
				<div class="field-container">
                    <label for="nome-macro" >Nome: </label>
                    <div class="input-container">
                        <input type="text" name="nome-macro" placeholder="Nome macroattivita" id="nome-macro">
                    </div>
                </div>
				
				<div class="field-container">
                    <label for="descrizione-macro" >Descrizione: </label>
                    <div class="input-container">
                        <textarea  rows="7" name="descrizione-macro" id="descrizione-macro"></textarea>
                    </div>
                </div>
                
				<div class="field-container">
                    <label for="immagine" >Immagine: </label>
                    <div class="input-container">
                        <input type="text" name="immagine" placeholder="immagine" id="immagine">
                    </div>
                </div>
				
				<div class="field-container">
                    <label for="immagine-banner" >immagine banner: </label>
                    <div class="input-container">
                        <input type="text" name="immagine-banner" placeholder="Immagine banner" id="immagine-banner">
                    </div>
                </div>
				
                <div class="button-holder">
                    <input type="submit" value="Salva" id="creaMacroattivita" name="Salva" class="btn btn-primary">
                    <button class="btn" id="annulla-macro"> ANNULLA </button>
                </div>
            </form>

        </div>
    </div>
</div>