<div class="scheda-wrapper overlay"  id="nuova-scheda-attivita">

    <div class="length-wrapper" role="dialog"  aria-labelledby="label-dialog" aria-modal="true" >
        <div tabindex="0"></div>
        <div class="schede form" id="nuova-attivita" >
            <h2 id="label-dialog">Nuova attività</h2>
            <form action="" method="POST">
                <div class="field-container">
                    <label for="nome" >Nome: </label>
                    <div class="input-container">
                        <input type="text" id="nome" class="nome-attivita" name="nome" placeholder="Nome attività">
                    </div>
                </div>
                <div class="field-container">
                    <label for="descrizione" >Descrizione: </label>
                    <div class="input-container">
                        <textarea  rows="7" id="descrizione" class="descrizione" name="descrizione"></textarea>
                    </div>
                </div>
                <div class="field-container">
                    <label for="prezzo" >Prezzo: </label>
                    <div class="input-container">
                        <input type="text" id="prezzo"  class="prezzo" name="prezzo" placeholder="0">
                    </div>
                </div>
                <div class="button-holder">
                    <input type="submit" value="Salva dati"  name="salva dati" class="btn btn-primary">
                    <button class="btn"">ANNULLA</button>
                </div>
            </form>

        </div>
    </div>
</div>