<div class="scheda-wrapper" class="overlay" id="fisnetraCreaMacro">

    <div class="length-wrapper" role="dialog"  aria-labelledby="label-dialog" aria-modal="true" >
        <div tabindex="0"></div>
        <div class="form">
            <h2 id="label-dialog">Nuova macroattività</h2>
            <form action="" method="POST">
                
				<div class="field-container">
                    <label for="Nome" >Nome: </label>
                    <div class="input-container">
                        <input type="text" name="Nome" placeholder="Nome macroattivita" id="Nome">
                    </div>
                </div>
				
				<div class="field-container">
                    <label for="Descrizione" >Descrizione: </label>
                    <div class="input-container">
                        <textarea  rows="7" name="Descrizione" id="Descrizione"></textarea>
                    </div>
                </div>
                
				<div class="field-container">
                    <label for="Immagine" >Immagine: </label>
                    <div class="input-container">
                        <input type="text" name="Immagine" placeholder="Immagine" id="Immagine">
                    </div>
                </div>
				
				<div class="field-container">
                    <label for="Immagine-banner" >immagine banner: </label>
                    <div class="input-container">
                        <input type="text" name="Immagine-banner" placeholder="Immagine banner" id="immagine-banner">
                    </div>
                </div>
				
                <div class="button-holder">
                    <input type="submit" value="Crea" id="creaMacroattivita" name="Crea" class="btn btn-primary">
                    <button class="btn"> ANNULLA </button>
                </div>
            </form>

        </div>
    </div>
</div>