<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pannello amministratore</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <link rel="stylesheet" type="text/css" href="css/utente.css">
    <link rel="stylesheet" type="text/css"  href="css/mobile.css" media="screen and (max-width:768px)"/>
    <link rel="stylesheet" type="text/css" href="css/stampa.css" media="print">

    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

</head>
<body>
[#INTESTAZIONE]
<div id="content" role="main">

        <div class="length-wrapper" id="intestazione-per-mobile">
            <div class="tab">
                <button class="tablinks mobile-tab-button" id="act-tab" data-target="act-manager" >Attività</button>
                <button class="tablinks mobile-tab-button" id="stat-tab" data-target="stat-manager" >Statistiche</button>
                <button class="tablinks mobile-tab-button" id="usr-tab" data-target="usr-manager" >Utenti</button>
                <button class="tablinks mobile-tab-button " id="res-tab" data-target="res-manager" >Prenotazioni</button>
            </div>
        </div>
        <div class="length-wrapper" id="tab-content-mobile">

            <div id="act-manager" class="tabcontent">
                <h1>Gestione attività</h1>
                <button class="btn btn-primary" id="crea-macro">Crea macroattività</button>
                [#NUOVA-ATTIVITA]
                [#SCHEDA-MACROATTIVITA]
                [#ATTIVITA]
            </div>

            <div id="stat-manager" class="tabcontent">
                <div class="ct-chart"></div>

                <h1>Statistiche sito</h1>
                <div id="wrapper-schede-stat">

                    <div class="scheda-wrapper pari stat">
                        <div class="head-background"></div>
                        <h1>Entrate da inzio mese</h1>
                        [#ENTRATE-DEL-MESE]
                    </div>

                    <div class="scheda-wrapper dispari stat">
                        <div class="head-background"></div>
                        <h1>Entrate mensili previste</h1>
                        [#ENTRATE-PREVISTE]
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="wrapper-tabella">
                    <table class="tabella" summary="La tabella presenta le attività in ordine crescente in base al numero di prenotazioni effettuate">
                        <caption><h3>Attività più prenotate</h3></caption>
                        <tr class="intestazione-tabella">
                            <th scope="col">Nome Attività</th>
                            <th scope="col">Numero Prenotazioni</th>
                        </tr>
                        [#ATTIVITA-PIU-PRENOTATE]
                    </table>
                </div>
                <div class="wrapper-tabella">
                    <table class="tabella" summary="La tabella presenta gli utenti che hanno effettuato più prenotazioni in ordine crescente">
                        <caption><h3>Utenti con più prenotazioni</h3></caption>
                        <tr class="intestazione-tabella">
                            <th scope="col">Posizione</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Cognome</th>
                            <th scope="col">Numero Prenotazioni</th>
                        </tr>
                        [#UTENTI-PIU-ATTIVI]
                    </table>
                </div>
            </div>

            <div id="usr-manager" class="tabcontent">
                <div class="wrapper-tabella">
                    <table class="tabella" summary="La tabella fornisce un elenco di informazioni riguardanti gli utenti con
                        la possibilità di reimpostare la password e eliminare il loro account.">
                        <caption><h3>Gestione utenti</h3></caption>
                        <tr class="intestazione-tabella">
                            <th scope="col">Nome</th>
                            <th scope="col">Cognome</th>
                            <th scope="col">Indirizzo</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th></th>
                            <th></th>
                        </tr>
                        [#UTENTI]
                    </table>
                </div>
            </div>



            <div id="res-manager" class="tabcontent">
                <h1>Gestione prenotazioni</h1>
                <button class="btn btn-primary" id="scheda-QR">Convalida prenotazione</button>
                <div class="wrapper-tabella">
                    <table class="tabella" summary="La tabella presenta l'insieme di prenotazioni attive">
                        <caption><h3>Prenotazioni attive</h3></caption>
                        <tr class="intestazione-tabella">
                            <th scope="col">Utente</th>
                            <th scope="col">Attività</th>
                            <th scope="col">Posti</th>
                            <th scope="col">Giorno prenotato</th>
                            <th scope="col">Stato</th>
                            <th scope="col">Pagamento</th>
                            <th scope="col">Conferma Pagamento</th>
                            <th scope="col">Cancella</th>
                        </tr>
                        [#PRENOTAZIONI-ATTIVE]
                    </table>
                </div>
                <div class="wrapper-tabella">
                    <table class="tabella"  summary="La tabella presenta l'insieme di prenotazioni attive">
                        <caption><h3>Storico prenotazioni</h3></caption>
                        <tr class="intestazione-tabella">
                            <th scope="col">Utente</th>
                            <th scope="col">Attività</th>
                            <th scope="col">Posti</th>
                            <th scope="col">Giorno prenotato</th>
                            <th scope="col">Stato</th>
                            <th scope="col">Pagamento</th>
                        </tr>
                        [#PRENOTAZIONI-PASSATE]
                    </table>
                </div>
            </div>

    </div>
</div>
[#MENU-MOBILE]
<script src="js/jquery-confirm.js"></script>
<script type="text/javascript" src="js/pannello.js"></script>
<script type="text/javascript" src="js/pannello-admin.js"></script>
</body>
</html>
