<div class="scheda-wrapper [#CLASSE-SCHEDA] schede-attivita" id="attivita-[#CODICE-ATTIVITA]">
    <div class="schede form">
        <h2 class="titolo-scheda-attivita">[#NOME]</h2>
        <button class="btn btn-red elimina-attivita" data-target="attivita-[#CODICE-ATTIVITA]">Elimina Attività</button>
        <div class="clearfix"></div>
        <form action="" method="POST">
            <div class="field-container">
                <label for="nome-attivita-[#CODICE-ATTIVITA]" >Nome: </label>
                <div class="input-container">
                    <input type="text" id="nome-attivita-[#CODICE-ATTIVITA]" class="nome-attivita" name="nome" value="[#NOME]">
                </div>
            </div>
            <div class="field-container">
                <label for="descrizione-attivita-[#CODICE-ATTIVITA]" >Descrizione: </label>
                <div class="input-container">
                    <textarea  rows="7" id="descrizione-attivita-[#CODICE-ATTIVITA]" class="descrizione" name="descrizione">[#DESCRIZIONE]</textarea>
                </div>
            </div>
            <div class="field-container">
                <label for="prezzo-attivita-[#CODICE-ATTIVITA]" >Prezzo: </label>
                <div class="input-container">
                    <input type="text" id="prezzo-attivita-[#CODICE-ATTIVITA]"  class="prezzo" name="prezzo" value="[#PREZZO]">
                </div>
            </div>
            <div class="button-holder">
                <input type="submit" value="Salva dati" name="salva dati" class="btn btn-primary salva-dati" data-target="attivita-[#CODICE-ATTIVITA]">
                <button class="btn btn-primary modifica" data-target="attivita-[#CODICE-ATTIVITA]">Modifica</button>
                <button class="btn bottone-annulla" data-target="attivita-[#CODICE-ATTIVITA]">ANNULLA</button>
            </div>
        </form>
    </div>
</div>