<div class="scheda-wrapper overlay" id="finestra-macro">
    <div class="length-wrapper" >
        <div tabindex="0"></div>
        <div  role="dialog" class="schede nuova-scheda" aria-labelledby="label-dialog2" >
            <h2 id="label-dialog2">Nuova macroattività</h2>
            <div class="alert errore" aria-live="assertive" role="alert" aria-atomic="true"><p class="intestazione-alert">Errore:</p></div>
            <form>
                
				<div class="field-container">
                    <label for="nome-macro" >Nome: </label>
                    <div class="input-container">
                        <input type="text" name="nome-macro" placeholder="Nome macroattivita" id="nome-macro">
                    </div>
                </div>
				
				<div class="field-container">
                    <label for="descrizione-macro" >Descrizione: </label>
                    <div class="input-container">
                        <textarea  rows="7" name="descrizione-macro" id="descrizione-macro"></textarea>
                    </div>
                </div>
                
				<div class="field-container">
                    <label for="immagine" >Immagine: </label>
                    <div class="input-container">
                        <input type="file" name="immagine" id="immagine">
                    </div>
                </div>
				
				<div class="field-container">
                    <label for="immagine-banner" >immagine banner: </label>
                    <div class="input-container">
                        <input type="file" name="immagine-banner" id="immagine-banner">
                    </div>
                </div>
				
                <div class="button-holder">
                    <input type="submit" value="Salva" name="Salva" class="btn btn-primary" id="salva-macro">
                    <button class="btn btn-color" id="annulla-macro"> ANNULLA </button>
                </div>
            </form>

        </div>
    </div>
</div>