<div class="column">
    <div class="wrapper" id="[#ANCORA_MACROATTIVITA]">
        <div class="title-wrapper">
            <h1>[#NOME_MACROATTIVITA]</h1>
            <div class="img-wrapper">
                <img src="images/attivita/index/[#IMMAGINE_MACROATTIVITA]" alt="[#NOME_MACROATTIVITA]">
            </div>

        </div>
        <p>
            [#DESCRIZIONE_MACROATTIVITA]
        </p>
        <div class="button-holder">
            <a class="btn btn-primary btn-block"  href="attivita.php#[#ANCORA_MACROATTIVITA]">Dettagli</a>
        </div>
    </div>
</div>