<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

    <title>Onda Selvaggia - Home</title>
    <link rel="stylesheet" type="text/css" href="css/default.css"/>
    <link rel="stylesheet" type="text/css"  href="css/mobile.css" media="screen and (max-width:768px)"/><!-- , only screen and (max-device-width:768px) -->
    <link rel="stylesheet" type="text/css" href="css/stampa.css" media="print">
</head>
<body>
[#INTESTAZIONE]
<div id="content" role="main">
    <img  src="images/fiume_montagne_min.png" class="banner" alt=" ">
    <div class="odd">
        <div class="length-wrapper">
            <h1>Onda Selvaggia</h1>

            <p>
                Situata nella valle del Brenta, il Centro Onda Selvaggia<abbr title="Marchio registrato">®</abbr> offre la possibilità di praticare sport fluviali
                rimanendo a stretto contatto con la natura e in un contesto denso di richiami storici e di tradizioni culturali.
                Questa attività, nata nel 1996 dalla passione per gli sport fluviali dei suoi fondatori (Chicco e Sonia),
                è una miscela di energia e competenza, di simpatia e professionalità.
            </p>
            <p>
                Vieni a scoprire le meraviglie del Brenta! I nostri istruttori sono pronti ad accoglierti
                e a farti appasionare ai nostri sport. <br/>
                Disponiamo di una vasta gamma di attività aperte a tutti: Canoa, <span lang="en">Rafting, HydroSpeed</span> con la possibilità di prenotare
                per un periodo di tempo prolungato grazie alle offerte <span lang="en">Weekend</span> e Settimane Multisport.
            </p>
            <p>
                Per nessuna di queste attività è richiesta una particolare preparazione fisica o tecnica, complice anche la natura
                placida del fiume Brenta. Si avranno a disposizione le migliori attrezzature ed equipaggiamenti che il Centro
                Sportivo ha da offrire.
            </p>

        </div>
    </div>

    <div class="even">
        <div class="length-wrapper">
            <h1>Attivit&agrave; offerte</h1>
            [#COLONNE_ATTIVITA]
        </div>
        <div class="clearfix"></div>
    </div>

<div class="odd">
    <div class="length-wrapper">

        <div class="box_SP">
            <img src="images/icone/icona_professionalita.png" class="icon_SP" alt=" "/>
            <div>
                <h2>Professionalità</h2>
                <p>I nostri collaboratori sono dotati di titoli e brevetti riconosciuti a livello Nazionale nelle discipline fluviali.
                    Ogni anno si prestano ad aggiornare le loro conoscenze per assicurare ai nostri clienti il massimo divertimento
                    con altrettanta preparazione.
                </p>
            </div>
        </div>

        <div class="box_SP">
            <img src="images/icone/icona_sicurezza.png" class="icon_SP" alt=" "/>
            <div>
                <h2 class="box_title">Sicurezza</h2>

                <p>Utilizziamo equipaggiamento e attrezzatura tecnica omologata secondo le direttive EN UNI ISO 12402-5 oppure
                    CE EN 1385 per le attività sia Fluviali e secondo le normative vigenti per le attività Montane. Aggiornamenti
                    continui dei nostri Collaboratori per essere sempre informati sulle nuove procedure di sicurezza.
                </p>
            </div>
        </div>

    </div>
    <div class="img-wrapper"><img src="miscellanea/artworks/logo_yotta.png" id="footer_logo" alt="logo gruppo studio" /></div>
</div>
<div class="clearfix"></div>
</div>
[#MENU-MOBILE]



</body>

</html>