#content {
   /* position: relative;*/
    width: 100%;
    color:white;
    text-align: justify;
}
.length-wrapper{
    padding-left:1.2em;
    padding-right: 1.2em;
}
#content img.banner {
    width: 100%;
}

div.even , div.odd{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.even{
    background-color: #3b3b3b;
    color: white;
}

.odd {
    background-color: #1C1C1C;
    color: white;
}


.column{
    width: 33.33%;
    float: left;
}
.column .wrapper p{
    color: #1C1C1C;
    padding: 0 1.3em 1.3em 1.3em;

}

.column .title-wrapper img{
    width:100%;
}

.title-wrapper h1{
    left: 0;
    right: 0;
    bottom: 0.1em;
    margin: 0;
    color: #F3F3F3;
    text-align: center;
    font-weight: 500;
   /* position: absolute;*/

    background: rgba(59, 59, 59, 0.6); /* browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c3b3b3b', endColorstr='#4c3b3b3b'); /* IE */
}

.img-wrapper{
    max-height: 17em;
    overflow: hidden;
}

#content .odd > .length-wrapper, #content .even > .length-wrapper{
    padding-bottom: 2em;
}
.wrapper{
    background: white;
    margin: 0.2em;
}


.wrapper img{
    max-width: 100%;
}

.clearfix{
    clear:both;
}

.responsive-banner{
    display: none;
}
.macroattivita {
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.macroattivita .banner {
    width: 100%;
    margin:0;
    padding:0;
}


.attivita {
    border-left: 0.3em solid #008BC6;
    padding-left: 1em;
    margin-bottom: 0.8em;
}

.attivita > h2 {
    margin-top: 0;
}


#google_maps{
    position: relative;

    overflow: hidden;
    padding-bottom: 10%;
    height:15em;
}



#google_maps> iframe{
    top: 0;
    left: 0;
    width: 100%;
    height: 100% ;
}


.box_SP{
    margin: 4em 4em 4em 0;
}

.icon_SP{
    width: 8em;
    float: left;
    padding-right: 1em;
}

div.macroattivita.odd,
div.macroattivita.even {
    color: #F3F3F3;
}

span.price-tag{
    float:none;
    display: block;
    color: white;
    font-size: 1.2em;

    font-weight: bolder;
    margin-top: 1em;
}

span.primary-btn.inline-btn{
    text-align: left;
}
#dialog-content {
    text-align: left;
}

#dialog-content div.field-container {
    margin-bottom: 1em;
}

.form-prenotazione-container {
    text-align: left;
    padding-bottom: 1em;
}

.form-prenotazione-container input:not([type=submit]):not([type=button]),
.form-prenotazione-container input:not([type=submit]):not([type=button]) {
    background-color: transparent;
    color: white;
}

.form-prenotazione-container div.field-container {
    padding-top: 1em;
}
.attivita .btn.chiudi-form-prenotazione{
    display: none;
}
div.alert {
    padding: 0.7em 1.2em;
    display: none;
    margin-bottom: 1em;
}

div.alert.errore {
    background: #f44336;
    color: white;
}

div.alert.successo {
    background: #4CAF50;
    color: white;
}

/**********************************
* PAGINA DI CONFERMA PRENOTAZIONE
***********************************/

ul.conferma-prenotazione {
    list-style-type: none;
    padding-left: 0;
}

ul.conferma-prenotazione li {
    font-weight: bolder;
    font-size: 1.2em;
}

ul.conferma-prenotazione li span {
    font-weight: normal;
    margin-right: 1em;
}

ul.conferma-prenotazione li#totale {
    margin-top: 1em;
}
#pulsanti-fine-prenotazione {
    display: none;
}

/******************************
 * PAGINA DI ERRORE GENERICO
 */
div.errore-container {
    text-align: center;
}

div.errore-container > img {
    max-width: 40%;
}

.wrapper-tabella {
    margin-top: 3em;
}

.tabella{
    color:#1C1C1C;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 2em;
    margin-top:3em;
    background-color: #F3F3F3;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.tabella caption{
    color: white;
}

.tabella thead {
    border-bottom: 3px solid #d0d0d0;
}

.tabella tr {
    border-bottom: 1px solid #d0d0d0;
}

th,td {
    padding: 1em;
}

table th{
    font-weight: bold;
}

.tabella tr:hover {
    background-color: #d6d6d6;
}

/**** STILE PIE CHART ******/
#stat-manager .ct-label {
    color: white;
    fill: white;
}
#footer_logo{
    width: 12%;
    margin-bottom: 0.5em;
    margin-left: 65em;
}

textarea{
    width:100%;
    height: auto;
    margin:0;
    padding:0;
    border: 2px solid silver;
    background-color: transparent;
    resize: none;
    font-family: 'Roboto',serif;
    line-height: 1.3;
    padding: 0.3em;
}

textarea:focus{
    border: 2px solid #302A85;
}

.form .bottone-annulla{
    display: none;
}
.btn-a-capo{
    padding-top:2em;
}

.salva-dati {
    display:none;
}

/****STILE DIALOG NUOVA ATTIVITA*****/
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

#nuova-attivita {
    position: relative;
    margin: auto;
    margin-top: 10%;
    width: 50%;
}
#macro {
    display:none;
}

