#content {
    width: 80%;

    margin-left: 20%;


    background: #ffffff;

    -webkit-box-shadow: -5px 0px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 0px 11px -2px rgba(0,0,0,0.75);
    box-shadow: -5px 0px 11px -2px rgba(0,0,0,0.75);

}

.img-container {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

.img-container > img {
    width: 100%;
    height: auto;
    display: block;
}

.img-container > div {
    position: absolute;
    bottom: 3em;
    left: 0;
    width: 100%;
}

.img-container > div > h1,
.img-container > div > h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 40pt;
}

/*descrizioni*/
.scheda {
    max-width: 1230px;
    margin: auto;
    color: #000000;
    padding-left:1.5em;
    padding-right: 2em;
    text-align: justify;
}

.sottotitolo{
    text-align: center;
}

.img-subcontainer{
    padding: 0;
    margin: 0;
    float:left;
    width:20%;

    -webkit-box-shadow: -5px 0px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 0px 11px -2px rgba(0,0,0,0.75);
    box-shadow: -5px 0px 11px -2px gray(0, 0.75);
}

.img-subcontainer > img{
    width:100%;
    height: auto;
}

.description{
    padding-left: 21%;
}

.content-fixer {
    clear:both;
    width: 100%;
    background: white;
}

#breadcrumb {
    background: #616c7e;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}