div#menu-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.5em;
    background: #F3F3F3;
}

#menu ul {
    list-style-type: none;
    margin-top: 0.6em;
}

#menu ul li {
    display: inline;
    padding-right: 1em;
}

#menu ul li.active {
    color: #008bc6;
}


#menu ul li a {
    color: black;
}


#menu a.button{
    border: 2px solid #1C1C1C;

}
#menu .button  {
    float: right;
    font-style: normal;
    margin-left: 1em;
    margin-top: -0.3em;
    color:#008bc6;
    padding: 0.4em;
}


#menu a.button:hover,
#menu a.button:visited:hover{
    color: white;
    background-color:#008bc6;
}

#menu .button:visited,
#menu .button:active {
    color: #1C1C1C;
}

#menu .button, #menu ul li {
    font-size: 0.8em;
}

#header {
    margin-top: 2.5em;
    background: white;
}
#header div.length-wrapper > img {
    padding: 1em;
    max-height: 4em;
    vertical-align: middle;
}

#contatti-header {
    margin-top: 1.8em;
    float:right;
}

#contatti-header span {
    display: block;


    font-size: 1em;
    text-align: right;
}

#contatti-header img {
    vertical-align: middle;
    max-width: 1em;
    padding-bottom: 4px;
}

.hamburger {
    display: none;
}

div#menu-mobile.even{display: none;}