html,body {
    background-color: #1C1C1C;
    padding: 0;
    margin: 0;
    clear: both;
    font-family: 'Roboto',serif;
    color: #1C1C1C;
    font-size: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 100;
}

div, form {
    margin: 0;
    padding: 0;
}

a, .button, button, input[type=button], input[type=submit], input[type=reset] {
    cursor: pointer;
}