<div id="menu-mobile" class="even">
    <nav>
        <a href="#header" id="icona-wrapper"><img src="[#PERCORSO_RELATIVO]images/icone/icona_chiudi_menu.png" alt="chiudi menu"></a>
        <ul>
            [#VOCI-MENU]
        </ul>
        <div class="clearfix"></div>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/global.js"></script>
