<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successo!</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="[#PERCORSO_RELATIVO]css/default.min.css"/>
    <link rel="stylesheet" type="text/css" href="[#PERCORSO_RELATIVO]css/login.min.css" >
    <link rel="stylesheet" type="text/css"  href="[#PERCORSO_RELATIVO]css/mobile.min.css" media="screen and (max-width:768px)"/>
    <link rel="icon" href="[#PERCORSO_RELATIVO]images/favicon.ico">

</head>
<body>

[#INTESTAZIONE]

<div class="form">
    <div class="errore-container">
        <img src="[#PERCORSO_RELATIVO]images/icone/icona_successo.png" alt="Successo!">
        <h1>Successo</h1>
        <p>[#MESAGGIO-SUCCESSO]</p>
        <p><a href="[#HREF-LINK]" target="[#TARGET]" class="btn btn-primary btn-block">[#TESTO-LINK]</a></p>
        [#LINK-ALTERNATIVO]
    </div>
</div>
[#MENU-MOBILE]
</body>
</html>